@{
    ViewData["Title"] = "Начальная страница";
}

<!--<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>-->

<div class="jumbotron">
    <h1>Отдел кадров</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Добро пожаловать в Отдел кадров</h2>
        <p>
            Отдел кадров - это структура в организации, которая занимается управлением персоналом.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Основная задача</h2>
        <p>Правильно учитывать работу сотрудников, определять количество рабочих, выходных и больничных дней для расчета зарплаты, отпусков и подачи сведений в бухгалтерию организации.</p>
    </div>
    <div class="col-md-4">
        <h2>Скачать проект</h2>
        <p>Вы можете скачать проект на GitHub.</p>
        <p><a class="btn btn-default" href="https://github.com/vasekmolibden">Перейти на GitHub &raquo;</a></p>
    </div>
</div>